---
- hosts: UpdateAndReboot
  tasks:
    - name: Updating all packages
      become: true
      become_method: sudo
      remote_user: root
      apt:
        update_cache: yes
        upgrade: yes
        force_apt_get: yes
        cache_valid_time: 3600
        autoremove: yes
        autoclean: yes
    
    - name: Check if a reboot is required
      ansible.builtin.stat:
        path: /var/run/reboot-required
        get_checksum: no
      register: reboot_required_file

    - name: Reboot the server if required
      ansible.builtin.reboot:
        msg: "Reboot initiated by Ansible due to system updates"
        reboot_timeout: 600 # Maximum seconds to wait for the system to reboot
      when: reboot_required_file.stat.exists == true
